<!doctype html>
<html amp lang="en">
{% include './src/snippets/meta/amp-head.liquid' %}
  <body>
{% include './src/snippets/sidebar/amp-sidebar.liquid' %}
    <header id="idHeader">
			<div id="idBlock">
				<div id="profilePicture">
          <amp-img src="images/tim-sq-310_profile.jpg" alt="profile picture"
            srcset="images/tim-sq-310_profile.jpg 1024w, images/tim-sq-236_profile.jpg 768w, images/tim-sq-160_profile.jpg 320w"
            width="160"
            height="160"
            layout="responsive"></amp-img>
				</div>
				<div>
          <h5 class="pad pointer" on="tap:sidebar.toggle" role="switch" tabindex="default">&equiv;
          </h5>
					<h1 class="lowCeiling pad right">Timothy<br/>Brockman</h1>
					<h6 class="pad">IT Manager / Code Contributor</h6>
				</div>
			</div>
			<div id="socList">
				<div id="socSpace"></div>
				<h1>@</h1>
				<p>
					<a href="tel:14076027721">tel: 1 407 602 7721</a><br>
					<a href="mailto:Tim@TimBrockman.com">Tim@TimBrockman.com</a><br>
					<a href="https://github.com/timBrockman" target="_blank">github.com/timBrockman</a><br>
					<a href="https://Meetup.com/members/805108/" target="_blank">Meetup.com/members/805108/</a><br>
					<a href="https://LinkedIn.com/in/timbrockman" target="_blank">LinkedIn.com/in/timbrockman</a>


				</p>
			</div>
		</header>

    <header id="pageHeader">
			<div class="secHeader">
        <div class="bannerWrap">
          <amp-img src="images/projects-465_project.png" alt="projects on github"
            srcset="images/projects-465_project.png 1024w, images/projects-354_project.png 768w, images/projects-240_project.png 320w"
            width="100"
            height="100"
            layout="responsive"
            class="banner"></amp-img>
        </div>
        <h3 class="dropout rightEdge pad">Github Projects</h3>
        <h6 class="rightEdge pad">Here are a few of my favorite repos:</h6>

			</div>

    </header>

		<section class="content">
			<div class="secHeader">
        <div class="thumbBorder">
    			<amp-img src="images/app-layout-465_project.png" alt="projects on github"
            srcset="images/app-layout-465_project.png 1024w, images/app-layout-354_project.png 768w, images/app-layout-240_project.png 320w"
            width="100"
            height="100"
            layout="responsive"
            class="projectThumb"></amp-img>
        </div>
				<h2 class="pad">Polymer Elements App Layout</h2>
        <h6>Contributions: May 2016</h6>
			</div>
			<div class="secBody">
				<p>App Layout is a collection of Polymer elements, along with guidelines and templates that can be used to structure your app’s layout. It's used by most Polymer progressive web apps.</p>
        <p>Early this year, I was able to contribute to this project by fixing some minor issues with a demo template. As a Polymer fan, this was pretty exciting for me. Currently, this project only has 18 contributors. Polymer 2 is right around the corner, I hope to contribute more and I hope you join us.</p>
			</div>
			<div class="secFooter">
				<a href="https://polymerelements.github.io/app-layout/">App Layout</a>
			</div>
		</section>
		<section class="content">
			<div class="secHeader">
        <div class="thumbBorder">
    			<amp-img src="images/static-search-465_project.png" alt="Node Static Search on github"
            srcset="images/static-search-465_project.png 1024w, images/static-search-354_project.png 768w, images/static-search-240_project.png 320w"
            width="100"
            height="100"
            layout="responsive"
            class="projectThumb"></amp-img>
        </div>
				<h2 class="pad">Ranked Static Search (node.js)</h2>
        <h6>Created May 2015</h6>
			</div>
			<div class="secBody">
				<p>By indexing static content with this tool, ranked search results become possible on static sites. It creates a json object with TF-IDF scores that allows performant search of content based on cosign similarity. In short, this is a node.js implimentation of Porter Stemmed, log normalized, TF-IDF that outputs a json object with some quick lookups.</p>
			</div>
			<div class="secFooter">
				<a href="https://github.com/timBrockman/ranked-static-search">Ranked Static Search code on Github</a>
			</div>
		</section>
    <section class="content">
      <div class="secHeader">
        <div class="thumbBorder">
          <amp-img src="images/polymerfire-image-upload-465_project.png" alt="PolymerFire image upload"
            srcset="images/polymerfire-image-upload-465_project.png 1024w, images/polymerfire-image-upload-354_project.png 768w, images/polymerfire-image-upload-240_project.png 320w"
            width="100"
            height="100"
            layout="responsive"
            class="projectThumb"></amp-img>
        </div>
        <h2 class="pad">Firebase Image Upload</h2>
        <h6>Created July 2016</h6>
      </div>
      <div class="secBody">
        <p>Firebase Image Upload is a simple Polymer element using PolymerFire to upload images (or files) to Firebase Storage. This is a stripped down image uploader similar to the one in <a href="https://youtu.be/SpxHVrpfGgU?list=PLl-K7zZEsYLnJVX_0zbKytptZGugPIbJR">The Firecast Tutorial: Getting Started with Storage on the Web</a>. The only major difference is it was created as a Polymer element.</p>
        <p>
        Firebase Image Upload was initially created to go with a Polymer demo/lightning talk, but could easily be forked into something more useful and validatey.
        </p>
      </div>
      <div class="secFooter">
        <a href="https://github.com/timBrockman/firebase-image-upload">Firebase Image Upload code on Github</a>
      </div>
    </section>
    <section class="content">
			<div class="secHeader">
        <div class="thumbBorder">
          <amp-img src="images/k8s-465_project.png" alt="Kubernetes (k8s.io)"
            srcset="images/k8s-465_project.png 1024w, images/k8s-354_project.png 768w, images/k8s-240_project.png 320w"
            width="100"
            height="100"
            layout="responsive"
            class="projectThumb"></amp-img>
        </div>
        <h2 class="pad">Kubernetes (k8s.io)</h2>
        <h6>Contributions: May - June 2016</h6>
			</div>
			<div class="secBody">
        <p>Kubernetes is an open-source system for automating deployment, scaling, and management of containerized applications.</p>
				<p>In early May, I noticed an issue with the demo project documentation pertaining to the way Docker for Mac OS assigned the default localhost IP for the docker VM. When onboarding new developers with little Docker experience, this could be a big deal. This was my first attempt at a Github contribution to a major open source project. I was thrilled when, after several revisions, my branch was merged.</p>
			</div>
			<div class="secFooter">
				<a href="https://kubernetes.io">Kubernetes (k8s.io)</a>
			</div>
		</section>

{% include './src/snippets/footer/footer.liquid' %}

  </body>
</html>
