<!doctype html>
<html amp lang="en">
{% include './src/snippets/meta/amp-head.liquid' %}
  <body>
{% include './src/snippets/sidebar/amp-sidebar.liquid' %}
{% include './src/snippets/header/id-header.liquid' %}
<!-- start main content -->
{% include './src/snippets/header/page-header.liquid' %}
{% include './src/snippets/body/single-page.liquid' %}

{% include './src/snippets/footer/footer.liquid' %}

  </body>
</html>
