    <section class="content">
			<div class="secBody">
        {{file.contents}}
			</div>
			<div class="secFooter">
        <a href="{{file.page.footerLink}}">{{file.page.footerText}}</a>
			</div>
    </section>