    <section class="content">
			<div class="secBody">
        {{file.contents}}
			</div>
			<div class="secFooter">
				<a href="https://polymerelements.github.io/app-layout/">Download a summarized_resume.pdf</a>
			</div>
    </section>
