<head>
    <meta charset="UTF-8">
{% include './src/snippets/meta/amp-components.liquid' %}

<!-- end initial amp stuff and includes -->

    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
    <title>{{file.page.title}} - {{file.site.title}}</title>

{% include './src/snippets/meta/favicons.liquid' %}

<!--cssstart-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jockey+One|Cairo">
<!--cssend-->
<!-- amp styles -->


<!-- more amp -->
    <link rel="canonical" href="{{file.site.url}}/{{file.page.permalink}}" />
{% include './src/snippets/meta/amp-ld-json.liquid' %}
{% include './src/snippets/meta/amp-boilerplate.liquid' %}
{% include './src/snippets/meta/amp-custom-style.liquid' %}
  
</head>
